
*.container-fluid {
    background-color: black;
} 

.nav-link {
    color:grey;
}
    

.navbar-brand {
    color:grey;
}
body {
    background-color: grey;
    
}

.jumbotron{

    text-align: left;
}

.display-4{
    text-size:large;

}